body * {
    margin: 2px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-toggler {
    display: none;
}

.custom-link {
    color: gray;
}

.custom-link:hover {
    color: lightgray;
}

a{
    display: block;
}