<!-- <div class="text-center">
  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        <th>Contacto</th>
        <th>DNI</th>
        <th>Deuda</th>
        <th>Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{ cliente.id }}</td>
        <td>{{ cliente.nombre }}</td>
        <td>{{ cliente.apellido }}</td>
        <td>{{ cliente.edad }}</td>
        <td>{{ cliente.contacto }}</td>
        <td>{{ cliente.dni }}</td>
        <td>{{ cliente.debe }}</td>
        <td>{{ cliente.fecha }}</td>
      </tr>
    </tbody>
  </table>
</div>
 -->